<div ng-controller="UserController">
  <div class="signup">
      <form ng-submit="createCharacter()">

      <h1>Create new char</h1>

      <fieldset>
        <legend>Basic info</legend>
        <label for="name">Name:</label>
        <input ng-model="characterInfo.name" type="text" id="name" name="char_name">

        <label for="mail">Biography:</label>
        <input ng-model="characterInfo.biography" type="text" id="mail" name="char_biography">

        <label for="mail">Stats: Nb points left -> {{characterInfo.nbPointsStats}}</label>
          <ul ng-repeat="(key, stat) in Stats">
            <li>
              {{stat.name}} : {{stat.value || 0}}   <input type="button" ng-click="increaseStat(stat.id)" class="glyphicon glyphicon-plus tiny" aria-hidden="true" value="+"> <input type="button" ng-click="decreaseStat(stat.id)" class="glyphicon glyphicon-minus tiny" aria-hidden="true" value="-">
            </li>
          </ul>
      </fieldset>
      <button type="submit">Create</button>
    </form>
  </div>
  <%- partial ('listCharUser.ejs') %>
</div>

