<div ng-controller="UserController">
  <button ui-sref="gamesList" type="submit" class="navbar-left btn btn-success">
    <span>Games List</span>
  </button>
  <button ui-sref="userCharacterCreate" type="submit" class="navbar-left btn btn-success">
    <span>Create Character</span>
  </button>
</div>
