<div ng-controller="UserController">
  <ul>
    <li ng-repeat="user in users">
      <p>{{user.email}}</p>
      <p>{{user.password}}</p>
      <p>{{user.name}}</p>
      <p>{{user.points}}</p>
    </li>
  </ul>
</div>