<div id="singleGame">
  <div id="game-info">
    <h2>Players</h2>

    <div ng-repeat="player in players">
      {{ player.email }}
    </div>

    <button ng-click="endTurn()">End Turn</button>

    <div id="currentChar">
      Character name : <span ng-bind="currentChar.name"></span>
      <span ng-bind="currentChar.id"></span>
      <div ng-repeat="stuff in currentChar.equipments">
        {{stuff.name}}
      </div>

    </div>
  </div>
  <div id="map">
    <canvas id="board-canvas" board width="{{boardWidth}}" height="{{boardHeight}}" style="height: 100%;"></canvas>
  </div>
</div>
