<div ng-controller="LobbyController">
  <button ng-click="openModalChooseChar()">Create Game</button>
  <ul>
    <li ng-repeat="game in listCurrentGames">
      <p>{{game.name}} {{game.listPlayers.length}} / 5 </p>
      <button ng-click='joinGame(game.name)'>Join Game</button>
    </li>
  </ul>
</div>